// Sass Variable Start ----->

$theme-colors: (
  "warning":    $warning,
  "light":      $light,
  "dark":       $dark
);

@function theme-color($name) {
  @return map-get($theme-colors, $name);
}

// Sass Variable End ---->

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
    font-size: 16px;
}

// h1{
//     color: red;
//     font-size: 5rem + 5rem;
// }

p{
  font-size: 5rem;
}


#main_home{
  background-image: url(https://media.istockphoto.com/id/134081020/photo/portrait-of-young-businessman.jpg?s=612x612&w=0&k=20&c=42Rnp4Q0iMFoAjDmQaBkbzHbb5coG8EDdKbvdNcuwB4=);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
background-color: red;


}

  h1{
    font-size: 0.1rem;
     color: theme-color("light");
  }












#main_footer{
  padding: 10px;
}




#main_contact{
      background-color: #a5a5a51f;
      padding: 50px 0px 50px 0px;
}
#main_contact .heading{
  margin-top: -75px;
  margin-bottom: 24px;
  
}
#main_contact button.btn.btn-lg.text-white {
    color: #ffca2c !important;
}
#main_contact button{
  margin: 8px;
}
#main_contact path {
  color: white;
}



#main_home{
  background-color: #ffca2c;
}





//////////////////////////////////////////
/// 
/// 


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.textCenter {
  text-align: center !important;
}


.heading-center  {
  display: flex;
  align-items: center;    /* Horizontal */
  justify-content: center; /* Vertical */
  height: 100vh;
}


/* // About CSS  */

#about {
margin-top: 100px 0px 0px 0px;
padding: 100px 0px 100px 0px;
}

.row .p-text{
padding-left: 68px;
}
#skill{
margin: 50px 0px 0px 0px;
}

/* PORTFOLIO */

.image-hover-wrapper .overlay {
  background-color: rgba(0, 0, 0, 0.6); /* dark overlay */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-hover-wrapper:hover .overlay {
  opacity: 1;
}

.experiance .heading{
  text-align: left;
} 

.icon-circle{ 
  border: 6px solid rgb(245, 221, 3);
    padding: 10px 0px 0px 11px;
    border-radius: 15px;
    font-size: 12px;
    background-color: yellow;
        display: inline-block;
    position: absolute;
    margin: 5px 0px 0px -8px;  
}

.icon-borderline{
  border-left: 6px solid white; /* vertical line */
 position: relative;
      display: inline-block;
    height: auto;


}
.experiance .heading{
 margin: -26px 0px 86px 0px;
}
.experiance{
     margin-top: 120px;
    background-color: #a5a5a51f;

}
.heading.paragraph-text
{
  padding-left: 138px;
}

.paragraph-text{
      padding-left: 34px ;


}

.testimonial{
  margin-top: 90px ;
   margin-bottom: 90px;
}
.testimonial .heading{
 padding: 0px 0px 30px 0px;
}
.testimonial .text p,h6{
padding-left: 62px;
text-align: left;
}
.testimonial img{
  width: 240px;
}


#contact{
      background-color: #a5a5a51f;
      padding: 50px 0px 50px 0px;
}
#contact .heading{
  margin-top: -75px;
  margin-bottom: 24px;
  
}
#contact button.btn.btn-lg.text-white {
    color: #ffca2c !important;
}
#contact button{
  margin: 8px;
}
#contact path {
  color: white;
}







